.contact {
  display: flex;
}
.contact-img {
  margin-right: 110px;
  margin-bottom: 133px;
}
.contact-title {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px; /* 166.667% */
  margin-bottom: 37px;
  padding-top: 33px;
}
.contact-text {
  color: #8f95a5;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 776px;
}
.contact-bunner-form {
}
.contact-bunner-input {
  color: #8f95a5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 450px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #8f95a5;
  padding-left: 30px;
  margin-top: 52px;
}
.contact-bunner-btn {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  width: 264px;
  height: 80px;
  border-radius: 10px;
  background-color: #263238;
}
