.footer {
  width: 325px;
}
.container {
}
.footer-line {
  background-color: #c4c4c4;
  width: 290px;
  height: 1px;
}
.footer-list {
  // display: flex;
}
.footer-item {
}

.footer-logo {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.footer-text {
  margin-top: 25px;
  margin-bottom: 58px;
  color: #8f95a5;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
@media screen and (min-width: 380px) {
}
@media screen and (min-width: 575px) {
}
.footer-line {
  margin-top: 112px;
  background: #c4c4c4;
  width: 510px;
  height: 1px;
}
@media screen and (min-width: 767px) {
  .footer-list {
    display: flex;
    gap: 30px;
  }
  .footer-item {
  }
  .footer-logo {
  }
  .landing {
  }
  .footer-text {
    width: 341px;
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 929px) {
  .footer-line {
    width: 929px;
    height: 1px;
  }
  .footer-list {
    display: flex;
    gap: 240px;
    align-items: center;
  }
  .footer-item {
  }
  .footer-logo {
  }
  .landing {
  }
  .footer-text {
  }
}
@media screen and (min-width: 1200px) {
}
