.footer {
}
.container {
}
.footer-line {
  background-color: #c4c4c4;
  margin-bottom: 31px;
  width: 1355px;
}
.footer-list {
  display: flex;
}
.footer-item {
}

.footer-logo {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}
.footer-text {
  margin-top: 25px;
  margin-left: 550px;
  margin-bottom: 58px;
  color: #8f95a5;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
