.skills {
}
.skills-title {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px; /* 166.667% */
  text-align: center;
}
.skills-list {
  display: flex;
}
.skills-item {
}
.skills-item-img {
}
.skills-item-title {
  color: #263238;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px; /* 266.667% */
}
.skills-item-text {
  color: #8f95a5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.skills-item-btn {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  width: 218px;
  height: 60px;
  border-radius: 5px;
  background: #263238;
}
