.container {
  // width: 1300px;
  min-width: 320px;
  margin: 0 auto;
  // padding: 0px 15px;
  align-items: center;

  @media screen and (min-width: 575px) {
    width: 575px;
  }
  @media screen and (min-width: 767px) {
    width: 767px;
  }
  @media screen and (min-width: 992px) {
    width: 992px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
